body {
  justify-content: center;
  display: flex;
}

.new-game {
  text-align: center;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.btn {
  background-color: #e9ec1a;
  text-align: center;
  width: 200px;
  height: 40px;
  font-size: 20px;
  border-radius: 40%;
  border: none;
}

.hit, .mishit {
  background-color: #e9ec1a;
  text-align: center;
  width: 200px;
  height: 40px;
  font-size: 20px;
  padding-top: 10px;
  border-radius: 40%;
  border: none;
}

.catches, .misses {
  margin: 0 10px;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 592px;
  margin-top: 25px;
}

.cell {
  background-color: rgb(230, 226, 10);
  border: 1px solid rgb(28, 72, 165);
  box-sizing: border-box;
  width: 128px;
  height: 128px;
  border-radius: 35%;
  margin-bottom: 20px;
  margin-right: 20px;
}

.goblin {
  background-image: url("../img/goblin.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  cursor: url('../img/molot.png'), pointer;
}